*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Page's styles
@import "./styles/main-page";
@import "./styles/about-fund";
@import "./styles/application";
@import "./styles/donation";
@import "./styles/individuals";
@import "./styles/legal-entities";
@import "./styles/need-help";
@import "./styles/official-docs";
@import "./styles/our-mission";
@import "./styles/questionnaire";
@import "./styles/reports";
@import "./styles/staff";
@import "./styles/volunteering";
@import "./styles/want-to-help";
@import "./styles/header";
@import "./styles/footer";
@import "./styles/call-to-action";

.body {
  overflow-x: hidden;
  min-height: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1000px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
