@import "./vars";


// DONATE SECTION


@import "./vars";


// DONATE SECTION


.breadcrumbs {
  margin: 24px 0;
 
      
      .breadcrumb__item-link{
        font-family: $ff-rubik;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $color__dark-grey;
        text-decoration: none;
      }
     
}


.elements-img {
  position: absolute;
  z-index: -1;
  margin-left: 1271px;
  
}



.donate {
  margin-bottom: 40px;
  &__title {
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000;
    text-align: center;
    margin-top: 81px;
  }
}


.pay-card {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    transition: transform 0.6s ease;
  &__pay-card-bank {
    width: 400px;
    height: 381px;
    background: $color__blue;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-regular;
    font-size: 18px;
    color: $color__black;

    &__img-baitushum {
      margin-top: 31px;
      margin-left: 21px;
    }
    &__maintitle {
      line-height: 41px;
      text-transform: capitalize;
      font-feature-settings: "pnum" on, "lnum" on;
      margin-left: 183px;
      margin-top: -55px;
    }
    &__title {
      line-height: 28px;
      margin: 37px 0px 0 18px;
      &__one {
        margin-bottom: 28px;
      }
      &__two {
        margin-left: 1px;
      }
    }
  }
  &__pay-card-bankTwo {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-regular;
    color: $color__black;
    background: $color__light-blue;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 400px;
    height: 381px;

    &__img-kicb {
      margin-top: 22px;
    margin-left: 13px;
    }
    &__kicbmain {
      width: 200px;
      font-size: 16px;
      line-height: 16px;
      -webkit-font-feature-settings: "pnum" on,"lnum" on;
      font-feature-settings: "pnum" on,"lnum" on;
      margin-left: 179px;
      margin-top: -60px;
  
    }
    &__titlekicb {
      font-size: 18px;
      line-height: 28px;
      margin: 41px 0 0 18px;
    }
  }

  &__pay-card-bankThree {
    background: $color__pink;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-regular;
    color: $color__black;

    &__img-optima {
      margin-top: 31px;
      margin-left: 24px;
    }
    &__maintitle {
      font-size: 16px;
      line-height: 26px;
      font-feature-settings: "pnum" on, "lnum" on;
      margin-left: 179px;
      margin-top: -38px;
    }

    &__titleoptima {
      font-size: 18px;
      line-height: 28px;
      width: 382px;
      margin-left: 13px;

      &__optimaone {
        margin-bottom: 27px;
        margin-top: 56px;
      }
    }
  }
}

.bank {
  background: $color__light-blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 190px;
  height: 177px;
}
.rectangle {
  width: 1240px;
  height: 381px;
  background: #ffefab;
  -webkit-box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
  box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
  border-radius: 15px;
  margin-top: 90px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 90px;

  &__mainTitle {
    margin-left: 444px;
    padding-top: 85px;
    margin-bottom: 41px;
    &__title {
      font-family: $ff-rubik;
      font-style: normal;
      font-weight: $fw-bold;
      font-size: 24px;
      line-height: 26px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: $color__black;
      margin: -33px 0 44px 60px;
    }
  }

  &__purse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    column-gap: 20px;
    font-family: "Rubik",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    text-align: center;
    margin-left: 109px;
    margin-bottom: 135px;

    &__mbank {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
  
      
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__obank {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
     
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__bilainbank {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
     
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__elsom {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
     
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__pay {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
     
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }
  }
}
