@import "./vars";

// body {
//   background-color: #010101;
//   color: #fff;
// }
// DONATE SECTION

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.container {
  width: 1242px;
  margin: 0 auto;
}

.breadcrumb {
  margin-top: 40px!important;

  &__item-link {
    font-family: $ff-rubik;
    font-size: 14px;
    color: $color__dark-grey;
    text-decoration: none;
  }

  &____item-currant {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-medium;
    font-size: 14px;
    line-height: 17px;
  }
}
.donate {
  &__title {
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: $fw-bold;
    font-size: 36px;
    line-height: 42px;
    color: $color__black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 18px;
  }

  &__img {
    margin-left: 1342px;
    margin-top: -115px;
  }
}
.pay-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 auto;
  &__pay-card-bank {
    width: 400px;
    height: 381px;
    background: $color__blue;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-right: 17px;
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-regular;
    font-size: 18px;
    color: $color__black;

    &__img-baitushum {
      margin-top: 20px;
      margin-left: 10px;
    }
    &__maintitle {
      line-height: 41px;
      text-transform: capitalize;
      font-feature-settings: "pnum" on, "lnum" on;
      margin: -45px 0 0 180px;
    }
    &__title {
      line-height: 28px;
      margin: 40px 0px 0 18px;
      &__one {
        margin-bottom: 30px;
      }
    }
  }
  &__pay-card-bankTwo {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-regular;
    color: $color__black;
    background: $color__light-blue;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-right: 18px;
    width: 400px;
    height: 381px;

    &__img-kicb {
      margin-top: 20px;
      margin-left: 10px;
    }
    &__kicbmain {
      width: 200px;
      font-size: 16px;
      line-height: 18px;
      font-feature-settings: "pnum" on, "lnum" on;
      margin: -60px 0 0 180px;
    }
    &__titlekicb {
      font-size: 18px;
      line-height: 28px;
      margin: 41px 0 0 18px;
    }
  }

  &__pay-card-bankThree {
    background: $color__pink;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-regular;
    color: $color__black;

    &__img-optima {
      margin-top: 20px;
      margin-left: 10px;
    }
    &__maintitle {
      font-size: 16px;
      line-height: 26px;
      font-feature-settings: "pnum" on, "lnum" on;
      margin: -38px 0 66px 180px;
    }

    &__titleoptima {
      font-size: 18px;
      line-height: 28px;
      width: 382px;
      margin: 41px 0 0 18px;

      &__optimaone {
        margin-bottom: 30px;
      }
    }
  }
}

.bank {
  background: $color__light-blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 190px;
  height: 177px;
}
.rectangle {
  width: 1240px;
  background: $color__yellow;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 87px;
  justify-content: center;
  margin-bottom: -63px;
  margin-left: 16px;

  &__mainTitle {
    margin-left: 444px;
    padding-top: 85px;
    margin-bottom: 44px;
    &__title {
      font-family: $ff-rubik;
      font-style: normal;
      font-weight: $fw-bold;
      font-size: 24px;
      line-height: 26px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: $color__black;
      margin: -31px 0 0 58px;
    }
  }

  &__purse {
    display: flex;
    flex-direction: row;
    margin-left: 109px;
    padding-bottom: 45px;
    margin-bottom: 135px;
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-bold;
    font-size: 18px;
    line-height: 28px;
    color: $color__black;
    text-align: center;

    &__mbank {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
      margin-right: 16px;
      
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__obank {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
      margin-right: 16px;
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__bilainbank {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
      margin-right: 16px;
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__elsom {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
      margin-right: 16px;
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }

    &__pay {
      width: 190px;
      height: 177px;
      background-color: $color__light-blue;
      margin-right: 16px;
      &__img {
        margin: 18px 0 0 0px;
      }
      &__title {
        margin-top: 46px;
      }
    }
  }
}
