@import "./vars";

$color__blue: #e3ecff;
$color__black: #000000;
$color__white: #ffffff;
$color__dark-grey: #616161;

// Breadcrumb---------------------------------

.breadcrumb {
  margin-top: 0;
  margin-left: 0;

  &__menu {
    padding: 24px 0 40px;
    display: flex;
    list-style: none;
  }

  &__item:not(:last-of-type)::after {
    content: ">";
    margin: 0 5px;
    color: $color__dark-grey;
  }

  &__link {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color__dark-grey;
    text-decoration: none;
  }

  &__link--active {
    font-weight: 500;
  }
}

// legal-entities-section-----------

.legal-entities {
  &__inner {
    &__title {
      font-family: $ff-rubik;
      font-weight: 700;
      font-size: 40px;
      line-height: 41px;

      color: $color__black;
    }

    &__txt {
      padding: 38px 0 40px;
      font-family: $ff-rubik;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $color__black;
    }
  }
}

// Cooparation-accord section-----------------

.legal-programs-first-kids-hospice {
  background-color: $color__blue;
  padding: 31.5px 0 63px;

  &__inner {
    &__title {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;

      color: $color__black;
      margin-bottom: 21px;
      margin-left: 28px;

      letter-spacing: 0px;
    }

    &__all-accordions {
      &__accordion {
        background-color: $color__white;
        border-radius: 15px;

        &__header {
          padding: 19.8px 24px;

          display: flex;
          align-items: center;
          justify-content: space-between;

          position: relative;
          cursor: pointer;

          font-family: Inter, sans-serif;
          font-size: 18px;
          font-weight: 700;
          font-style: normal;

          color: $color__black;

          &::after {
            content: "˃";
            transition: 0.3s ease-in-out;
            font-weight: 400;
          }
        }

        .active-legal {
          &::after {
            transform: rotate(90deg);
          }
        }

        &__body {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;

          &__description {
            font-family: Inter, sans-serif;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;

            color: rgba(60, 60, 67, 0.85);
            padding: 0 24px 18px;
          }
        }
      }

      &__accordion + &__accordion {
        margin-top: 25px;
      }
    }
  }
}

// Cooparation-info-section------------------

.cooparation-info {
  &__inner {
    position: relative;
    padding: 40px 0 90px 0;

    &__txt,
    &__link {
      font-family: $ff-rubik;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      text-align: justify;
      text-decoration: none;
      color: $color__black;
    }

    &__link:hover {
      border-bottom: 1px solid $color__black;
    }

    &__txt--bold {
      font-weight: 500;
      padding-top: 30px;
    }

    &__img {
      margin: 60px auto 0;
      max-width: 610px;
      height: 427px;
    }

    &__photo {
      width: 100%;
      border-radius: 15px;
    }

    &__balloon-pink {
      position: absolute;

      left: 3px;
      top: 396px;
    }

    &__balloon-yellow {
      position: absolute;
      top: 104px;
      right: -18px;
    }

    &__finger {
      position: absolute;
      right: 9px;
      top: 498px;
    }
  }
}

@media screen and (max-width: 1000.98px) {
  .breadcrumb {
    &__menu {
      padding: 20px 0 40px;
    }
  }

  .legal-entities {
    &__inner {
      &__txt {
        padding: 30px 0 40px;

        font-size: 20px;
        line-height: 30px;
        text-align: justify;
      }
    }
  }

  .legal-programs-first-kids-hospice {
    //  width: 100%;
    padding: 20px 0 25px;

    &__inner {
      &__title {
        margin-bottom: 20px;
        margin-left: 0;

        font-size: 30px;
      }

      &__all-accordions {
        &__accordion__body__description {
          text-align: justify;
        }

        &__accordion + &__accordion {
          margin-top: 20px;
        }
      }
    }
  }

  .cooparation-info {
    &__inner {
      padding: 40px 0 60px 0;
      &__img {
        margin: 40px auto 0;
        max-width: 500px;
        height: 350px;
      }

      &__balloon-pink {
        left: 88px;
        top: 397px;
        img {
          max-width: 115px;
          height: 221px;
        }
      }

      &__balloon-yellow {
        top: 205px;
        right: 93.9px;

        img {
          max-width: 107.44px;
          height: 209.93px;
        }
      }

      &__finger {
        right: 120px;
        top: 455.37px;

        img {
          max-width: 75.34px;
          //  height: 71.37px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    &__menu {
      padding: 20px 0 30px;
    }
  }

  .legal-entities {
    &__inner {
      &__title {
        font-size: 36px;
        line-height: 41px;
      }
      &__txt {
        padding: 20px 0;

        font-size: 18px;
      }
    }
  }

  .legal-programs-first-kids-hospice {
    padding: 10px 0 20px;

    &__inner {
      &__title {
        margin-bottom: 20px;

        font-size: 24px;
      }
    }
  }

  .cooparation-info {
    &__inner {
      padding: 30px 0 60px 0;
      &__img {
        margin: 30px auto 0;
        max-width: 732px;
        height: 492px;
      }

      &__balloon-pink,
      &__balloon-yellow,
      &__finger {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .breadcrumb {
    display: none;
  }

  .legal-entities {
    &__inner {
      &__title {
        padding-top: 20px;

        font-size: 26px;
        line-height: 30px;
      }
      &__txt {
        padding: 20px 0 15px 0;

        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .legal-programs-first-kids-hospice {
    padding: 15px 0 10px;

    &__inner {
      &__title {
        margin-bottom: 20px;

        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .cooparation-info {
    &__inner {
      padding: 20px 0 40px 0;

      &__txt,
      &__link {
        font-size: 16px;
        line-height: 24px;
      }
      &__img {
        margin: 20px auto 0;
        max-width: 450px;
        height: 307px;
      }
    }
  }
}
