@import "./vars";

$color__blue: #E3ECFF;
$color__light-blue: #CFFFFD;
$color__yellow: #FFEFAB;
$color__pink: #FFEBF9;
$color__violet: #775CA6;
$color__black: #000000;
$color__white: #FFFFFF;

.body-need-help {
    background-color: white;
}

// REQUESET HELP SECTION

.request-help {
    min-height: 0;
    margin-bottom: 86px;

    &__inner {

        &__all-elements {

            &__title {
                font-family: Rubik, sans-serif;
                font-size: 40px;
                font-weight: 700;
                font-style: normal;

                color: $color__black;
            }

            &__sub-title {
                font-family: Rubik, sans-serif;
                font-size: 24px;
                font-weight: 400;
                font-style: normal;

                color: $color__black;
                margin: 33px 0;
            }

            &__link {
                font-family: Rubik, sans-serif;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;

                background-color: $color__violet;
                text-decoration: none;
                color: $color__white;

                padding: 10px 18px;
                border-radius: 5px;
            }
        }
    }
}

//  SHAR HEED HELP

.shar-need-help {
    position: absolute;

    transform: translate(510%, -45%);
}

// HOW HELP SECTION

.programs-hospice {
    min-height: 0;

    &__inner {

        &__title {
            font-family: Rubik, sans-serif;
            font-size: 36px;
            font-weight: 500;
            font-style: normal;

            color: $color__black;

            text-align: center;
        }

        &__sub-title1 {
            font-family: Rubik, sans-serif;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;

            color: $color__black;
            margin: 40px 0 35px;
        }

        &__sub-title2 {
            font-family: Rubik, sans-serif;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;

            width: 960px;

            color: $color__black;
        }
    }
}

// MEDICAL PROGRAMS - SECTION

.programs-first-kids-hospice {
    background-color: $color__yellow;

    &__inner {

        &__title {
            font-family: Roboto, sans-serif;
            font-size: 24px;
            font-weight: 700;
            font-style: normal;

            color: $color__black;
            padding-top: 30px;
            margin-bottom: 11px;
        }

        &__all-accordions {

            &__accordion {
                background-color: $color__white;
                border-radius: 15px;

                &__header {
                    padding: 18px 24px;
                    min-height: 3.5rem;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    position: relative;
                    cursor: pointer;

                    font-family: Inter, sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    font-style: normal;

                    color: $color__black;

                    &::after {
                        content: '˃';
                        transition: 0.3s ease-in-out;
                        font-weight: 400;
                    }
                }

                .active {

                    &::after {
                        transform: rotate(90deg);
                    }
                }

                &__body {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;

                    &__description {
                        font-family: Inter, sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;

                        color: rgba(60, 60, 67, 0.85);
                        padding: 0 24px 18px;
                    }
                }
            }

            &__accordion + &__accordion {
                margin-top: 25px;
            }
        }
    }
}