@import "./vars";

$color__blue: #E3ECFF;
$color__light-blue: #CFFFFD;
$color__yellow: #FFEFAB;
$color__pink: #FFEBF9;
$color__violet: #775CA6;
$color__black: #000000;
$color__white: #FFFFFF;

.body-need-help {
    background-color: white;
    height: 100%;
}

// REQUESET HELP SECTION
.request-help {
    min-height: 0;
    margin-bottom: 91px;
    margin-top: 35px;

    &__inner {

        &__all-elements {

            &__title {
                font-family: Rubik, sans-serif;
                font-size: 40px;
                font-weight: 700;
                font-style: normal;

                color: $color__black;
            }

            &__sub-title {
                font-family: Rubik, sans-serif;
                font-size: 24px;
                font-weight: 400;
                font-style: normal;

                color: $color__black;
                margin: 33px 0 45px;
            }

            &__link {
                font-family: Rubik, sans-serif;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;

                background-color: $color__violet;
                text-decoration: none;
                color: $color__white;

                padding: 10px 22px;
                border-radius: 5px;

                letter-spacing: 2px;
            }
        }
    }
}

//  SHAR HEED HELP
.finger-need-help {
    position: absolute;

    transform: translate(882%, -488%);

    img {
        width: 90px;
    }
}

.paint-need-help {
    position: absolute;

    transform: translate(-78%, -23.5%);

    img {
        width: 125px;
    }
}

.ballon-need-help {
    position: absolute;

    transform: translate(510.5%, -59.5%);

    img {
        width: 215px;
        z-index: -1;
    }
}

// HOW HELP SECTION
.programs-hospice {
    min-height: 0;

    &__inner {

        &__title {
            font-family: Rubik, sans-serif;
            font-size: 36px;
            font-weight: 500;
            font-style: normal;

            color: $color__black;

            text-align: center;
        }

        &__sub-title1 {
            font-family: Rubik, sans-serif;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;

            color: $color__black;
            margin: 38px 0 30px;

            line-height: 27.5px;
        }

        &__sub-title2 {
            font-family: Rubik, sans-serif;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;

            width: 960px;

            color: $color__black;

            line-height: 27.5px;
        }
    }
}

// MEDICAL PROGRAMS - SECTION
.programs-first-kids-hospice {
    background-color: $color__yellow;
    padding: 31.5px 0 63px;
    margin: 70px 0 0;

    &__inner {

        &__title {
            font-family: Roboto, sans-serif;
            font-size: 24px;
            font-weight: 700;
            font-style: normal;

            color: $color__black;
            margin-bottom: 21px;
            margin-left: 28px;

            letter-spacing: 0px;
        }

        &__all-accordions {

            &__accordion {
                background-color: $color__white;
                border-radius: 15px;

                &__header {
                    padding: 19.8px 24px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    position: relative;
                    cursor: pointer;

                    font-family: Inter, sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    font-style: normal;

                    color: $color__black;

                    &::after {
                        content: '˃';
                        transition: 0.3s ease-in-out;
                        font-weight: 400;
                    }
                }

                .active {

                    &::after {
                        transform: rotate(90deg);
                    }
                }

                &__body {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;

                    &__description {
                        font-family: Inter, sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;

                        color: rgba(60, 60, 67, 0.85);
                        padding: 0 24px 18px;
                    }
                }
            }

            &__accordion+&__accordion {
                margin-top: 25px;
            }
        }
    }
}

// IMPORTANT KNOW - SECTION
.important-khow-need-help {
    // background-image: url('../assets/illustation_pro-palliativ.jpg');
    margin-top: 83.56px;

    .bg-img-need-help {
        width: 100%;
        height: 664px;
    }

    &__inner {
        position: absolute;

        transform: translate(766px, -590px);

        &__title {
            font-family: 'Rubik', sans-serif;
            font-weight: $fw-medium;
            font-style: normal;
            font-size: 36px;

            line-height: 34px;

            color: $color-black;
        }

        &__subtitle1 {
            font-family: 'Rubik', sans-serif;
            font-weight: $fw-medium;
            font-style: normal;
            font-size: 18px;

            line-height: 34px;

            color: $color-black;

            max-width: 503px;

            margin-top: 24px;
        }

        &__subtitle2 {
            font-family: 'Rubik', sans-serif;
            font-weight: $fw-medium;
            font-style: normal;
            font-size: 18px;

            line-height: 34px;

            color: $color-black;

            max-width: 503px;

            margin-bottom: 45.5px;
            margin-top: 16px;
        }

        &__link-btn {
            font-family: 'Rubik', sans-serif;
            font-weight: $fw-medium;
            font-style: normal;
            font-size: 26px;

            line-height: 34px;

            color: $color-black;

            text-decoration: none;

            letter-spacing: 2.5px;
        }
    }
}