@import "./vars";
.title {
  font-family: $ff-raleway;
}
.documents {
  margin-bottom: 90px;
}
.breadscrumbss-bg {
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: $ff-rubik;
}
.offic-docs-title{
  font-family: $ff-rubik;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: 40px;
  color: #000000;
  line-height: 41px;
  margin-bottom: 32px;
}
.breadscrumb_link {
  font-family: $ff-rubik;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
  text-decoration: none;
}

.breadscrumb_link+.breadscrumb_link  {
  margin-left: 5px;
}

.breadscrumb_link:last-child {
  font-family: $ff-rubik;
  font-style: normal;
  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
}

.box-document {
  display: flex;
  font-family: $ff-rubik;
  font-weight: $fw-medium;
}

.document-cards {
  display: flex;
}
.docs-card {
  width: 250px;
  height: 327px;
}
.document-cards-item + .document-cards-item {
  margin-left: 35px;
}

.sidebarbg {
  margin-left: 20px;
  width: 400px;
  height: 282px;
  background: #D5C8FC;
  border-radius: 15px;
  min-height: 282px;
}
.side-menu {
  max-width: 303px;
  margin-left: 48px;
  margin-top: 57px;
}

.sidebars-link {
font-style: normal;
font-weight: $fw-bold;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}

.side-menus-item {
  margin-bottom: 22px;
}

.call-to-action {
  margin: 90px 0 119px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color__blue;
    padding: 70px 40px;
    border-radius: 15px;

    &__text,
    &__money,
    &__other-money,
    &__btn {
      font-family: $ff-rubik;
      font-style: normal;
      font-weight: $fw-regular;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      font-style: normal;
    }

    &__money {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 35%;
      font-size: 36px;
      line-height: 43px;
    }
    &__money__item {
      font-family: $ff-rubik;
      text-decoration: none;
      font-style: normal;
      font-weight: $fw-regular;
      font-size: 36px;
      line-height: 43px;
      color: #000000;
    }
    &__other-money {
      font-size: 24px;
      line-height: 28px;
      color: rgba(97, 97, 97, 0.59);
    }

    &__btn {
      font-weight: $fw-medium;
      font-size: 36px;
      line-height: 43px;
      color: #ffffff;
      background: #FF7272;;
      border-radius: 5px;
      text-decoration: none;
      padding: 18px 22px;
      font-style: normal;
    }
  }
}

.bg-img {
  position: absolute;
  width: 171px;
  height: 335px;
  background-image: url(../assets/balloon_4-yellow.svg);
  background-size: 171px 330px;
  margin-left: -62px;
  margin-top: 141px
}
.bg-img1 {
  position: absolute;
  width: 120px;
  height: 131.47px;
  background-image: url(../assets/finger_2.svg);
  margin-top: -47px;
  margin-left: 1117px;
}
