@import "./vars";

// body {
//   background-color: #010101;
//   color: #fff;
// }

.title {
  font-family: $ff-raleway;
}

.bread-crumbs {
  width: 300px;
  height: 17px;
  margin: 24px 0 40px 0;
  padding-right: 100px;

  & li {
    display: inline;
  }

  & a {
    text-decoration: none;
  }
  & a:hover {
    color: #01447e;
    text-decoration: underline;
  }
}

.finger {
  width: 120px;
  height: 131px;
  background-image: url(../assets/staff-img/staff-yellowfinger.svg);
}

.cont {
  display: flex;
}

.main {
  position: relative;
}
.balloon {
  position: absolute;
  top: 45%;
  right: 10%;
  width: 184px;
  height: 350px;
  background-image: url(../assets/staff-img/staff-balloon.svg);
}

.finger2 {
  position: absolute;
  right: 20%;
  top: 65%;
  width: 121px;
  height: 113px;
  background-image: url(../assets/staff-img/staff-finger2.svg);
}

.our-staff {
  width: 822px;
  margin-right: 80px;

  &__elements__title {
    padding-bottom: 24px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    color: #000000;
  }

  &__elements__descr {
    max-width: 812px;
    padding-bottom: 53px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    text-align: justify;
  }
  &__cards {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      width: 400px;
      min-height: 357px;
      margin-top: 68px;
      margin-bottom: 68px;
      background: #ff7272;
      border-radius: 20px;

      &__img {
        width: 301px;
        height: 301px;
        margin-top: -25%;
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 50px;
        border-radius: 50%;
      }

      &__title {
        padding-bottom: 9px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 34px;
        text-align: center;
        color: #ffffff;
      }

      &__subtitle {
        font-family: "Rubik";
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.sidebar {
  // padding: 52px;
  background: #d5c8fc;
  border-radius: 15px;
  width: 401px;
  height: 282px;

  &__inner {
    padding: 50px;
    &__menu {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: space-between;

      margin: 0;
      &__item {
        // list-style: none;

        &__link {
          font-family: "Rubik", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          text-decoration: none;
          color: #000000;
        }
      }
      &__item {
        padding-bottom: 23px;
      }
    }
  }
}

.wrap {
  display: flex;
}
