@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@700&family=Poppins:wght@500;600&family=Raleway:wght@700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

// Fonts
$ff-raleway: "Raleway", sans-serif;
$ff-roboto: "Roboto", sans-serif;
$ff-poppins: "Poppins", sans-serif;
$ff-opensans: "Open Sans", sans-serif;
$ff-inter: "Inter", sans-serif;
$ff-rubik: "Rubik", sans-serif;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;

// Colors
$color-black: #1b1a17;
$color-yellow: #f0a500;

$color__blue: #E3ECFF;
$color__light-blue: #CFFFFD;
$color__yellow: #FFEFAB;
$color__pink: #FFEBF9;
$color__violet: #775CA6;
$color__green: #00AFA9;
$color__dark-violet: #475174;
$color__black: #000000;
$color__white: #FFFFFF;
