@import "./vars";

// body {
//   background-color: #010101;
//   color: #fff;
// }

.title {
  font-family: $ff-raleway;
}

.blc__title-volunteering {
  margin-top: 18px;
  position: relative;
  &__inner {
    position: relative;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    &__aroow-img {
      padding-right: 240px;
    }

    &__title {
      &__main-txt {
        font-weight: 700;
        font-size: 40px;
        line-height: 41px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: $color__black;
      }
      &__call-txt {
        padding: 33px 0 62px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $color__black;
      }
    }

    &__finger-img {
      &__second {
        padding: 0 30px;
        position: absolute;
        top: -34px;
        left: 1032px;
      }
      &__first {
        position: absolute;
        left: 852px;
        top: 33px;
        padding-bottom: 30px;
      }
    }
  }
}

//according
.volunteering__according {
  padding-left: 40px;

  &__item {
    &__link {
      text-decoration: none;
      color: $color-text-vol;
    }
  }
}

.blc__volunteering-accordion {
  background-color: $color__yellow;
  &__inner {
    padding: 9px 0 46.5px;

    &__accord1 {
      &__title-txt {
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        margin: 0;
      }
      &__txt {
        padding-top: 18px;
        color: $color-text-vol;
      }
      &__link {
        padding-bottom: 18px;
        text-decoration: none;
        color: $color-text-vol;
      }
    }
  }
}

.blc__volunteering-accordion {
  background-color: $color__yellow;
  padding: 31.5px 0 63px;
  margin: 2px 0 0;

  &__inner {
    &__title {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;

      color: $color__black;
      margin-bottom: 21px;
      margin-left: 28px;

      letter-spacing: 0px;
    }

    &__all-accordions {
      &__accordion {
        background-color: $color__white;
        border-radius: 15px;

        &__header {
          padding: 19.8px 24px;

          display: flex;
          align-items: center;
          justify-content: space-between;

          position: relative;
          cursor: pointer;

          font-family: Inter, sans-serif;
          font-size: 18px;
          font-weight: 700;
          font-style: normal;

          color: $color__black;

          &::after {
            content: "˃";
            transition: 0.3s ease-in-out;
            font-weight: 400;
          }
        }

        .active-volunteering {
          &::after {
            transform: rotate(90deg);
          }
        }

        &__body {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;

          &__description {
            font-family: Inter, sans-serif;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;

            color: rgba(60, 60, 67, 0.85);
            padding: 0 47px 18px;
          }
        }
      }

      &__accordion + &__accordion {
        margin-top: 25px;
      }
    }
  }
}

.wrapper {
  //height: 100%;
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media (max-width: 767px) {
//   .wrapper {
//     padding: 50px 10px;
//   }
// }

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  padding: 0px 60px;
}

// @media (max-width: 767px) {
//   .slider {
//     padding: 0px 40px;
//   }
// }

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: 0px 25px 6px 25px;
  z-index: 10;
  font-size: 0;
  width: 14px;
  height: 28px;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../assets/volonteering/slider_arrow\(left\)\ \(1\).svg") 0 0 /
    100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../assets/volonteering/slider_arrow\(right\).svg") 0 0 / 100%
    no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.9;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
  padding: 10px 15px;
}
.slider__item img {
  max-width: 100%;
  border-radius: 15px;
}

//callToAction
.call-to-action {
  position: relative;
  margin: 30px 0;

  &__paint-element {
    position: absolute;
    top: 180px;
    left: -10px;
    transform: rotate(-20.82deg);
  }
}



@media screen and (max-width: 1000.98px) {
  .blc__title-volunteering {
    &__inner {
      &__aroow-img {
        .img {
          display: none;
        }
      }
      &__finger-img {
        display: none;
    }
    }
    .blc__volunteering-accordion {
      padding: 20px 0 63px;

     
    }
 
  }
  .call-to-action {
    &__paint-element {
      display: none;
    }
  }


  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: 0px 25px 6px 25px;
    z-index: 10;
    font-size: 0;
    width: 10px;
    height: 19px;
  }
}

@media screen and (max-width: 768px) {
  .blc__title-volunteering {
    &__inner {
      &__title {
        &__main-txt {
          font-size: 36px;
        }
      }
    }
  }
  .photo-item {
    padding: 0 25px;
    .blc__volunteering-accordion__inner__accord3__slider__img {
      width: 363px;
    }
  }
}
@media screen and (max-width: 768px) {
  .blc__title-volunteering {
    &__inner {
      &__title {
        &__main-txt {
          font-size: 36px;
        }
      }
    }
  }

  .wrapper {
    padding: 50px 10px;
  }
  .slider {
    padding: 0px 40px;
  }
}


@media screen and (max-width: 480px) {
  .breadcrumbs{
    display: none;
  }
  .blc__title-volunteering {
    &__inner {
      &__title {
        &__main-txt {
          font-size: 28px;
        }
      }
    }
  }
}
