@import "./vars";

// body {
//   background-color: #010101;
//   color: #fff;
// }

.title {
  font-family: $ff-raleway;
}
.volunteering__breadcumps {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
}

.blc__title-volunteering {
  margin-top: 24px;
  position: relative;
  &__inner {
    position: relative;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    &__aroow-img {
      padding-right: 240px;
    }

    &__title {
      &__main-txt {
        font-weight: 700;
        font-size: 40px;
        line-height: 41px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: $color__black;
      }
      &__call-txt {
        padding: 33px 0 62px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $color__black;
      }
    }

    &__finger-img {
      &__second {
        padding: 0 30px;
        position: absolute;
        top: -34px;
        left: 1032px;
      }
      &__first {
        position: absolute;
        left: 852px;
        top: 33px;
        padding-bottom: 30px;
      }
    }
  }
}
//according

.volunteering__according {
  padding-left: 40px;

  &__item {
    &__link {
      text-decoration: none;
      color: $color-text-vol;
    }
  }
}




//accordion from Erbol

.blc__volunteering-accordion {
  background-color: $color__yellow;
  &__inner {
    padding: 41px 0 46.5px;

    &__accord1 {
      &__title-txt {
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        margin: 0;
      }
      &__txt {
        padding-top: 18px;
        color: $color-text-vol;
      }
      &__link {
        padding-bottom: 18px;
        text-decoration: none;
        color: $color-text-vol;
      }
    }

    &__accord3 {
      background-color: $color__white;
      &__title-txt {
        margin: 0;
      }
      &__coll {
        display: flex;
        justify-content: center;
      }

      &__slider {
        padding: 15px 0 33px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__img {
          border-radius: 20px;
        }
      }
    }
  }
}



.blc__volunteering-accordion {
  background-color: $color__yellow;
  padding: 31.5px 0 63px;
  margin: -3px 0 0;

  &__inner {

      &__title {
          font-family: Roboto, sans-serif;
          font-size: 24px;
          font-weight: 700;
          font-style: normal;

          color: $color__black;
          margin-bottom: 21px;
          margin-left: 28px;

          letter-spacing: 0px;
      }

      &__all-accordions {

          &__accordion {
              background-color: $color__white;
              border-radius: 15px;

              &__header {
                  padding: 19.8px 24px;

                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  position: relative;
                  cursor: pointer;

                  font-family: Inter, sans-serif;
                  font-size: 18px;
                  font-weight: 700;
                  font-style: normal;

                  color: $color__black;

                  &::after {
                      content: '˃';
                      transition: 0.3s ease-in-out;
                      font-weight: 400;
                  }
              }

              .active-volunteering {

                  &::after {
                      transform: rotate(90deg);
                  }
              }

              &__body {
                  max-height: 0;
                  overflow: hidden;
                  transition: max-height 0.3s ease-in-out;

                  &__description {
                      font-family: Inter, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      font-style: normal;

                      color: rgba(60, 60, 67, 0.85);
                      padding: 0 47px 18px;
                  }
              }
          }

          &__accordion+&__accordion {
              margin-top: 25px;
          }
      }
  }
}



//according end


//callToAction
.call-to-action {
  position: relative;
  margin: 30px 0;

  &__paint-element {
    position: absolute;
    top: 180px;
    left: -10px;
    transform: rotate(-19.82deg);
  }
}






