@import "./vars";

// body {
//   background-color: #010101;
//   color: #fff;
// }

.title {
  font-family: $ff-raleway;
}
.volunteering__breadcumps {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
}

.blc__title-volunteering {
  margin-top: 24px;
  position: relative;
  &__inner {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    &__aroow-img {
      padding-right: 240px;
    }

    &__title {
      &__main-txt {
        font-weight: 700;
        font-size: 40px;
        line-height: 41px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: $color__black;
      }
      &__call-txt {
        padding: 33px 0 62px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $color__black;
      }
    }

    &__finger-img {
      &__second {
        padding: 0 30px;
        position: absolute;
        top: -15px;
        left: 1100px;
      }
      &__first {
        position: absolute;
        left: 900px;
        padding-bottom: 30px;
      }
    }
  }
}
//according

.volunteering__according {
  padding-left: 40px;

  &__item {
    &__link {
      text-decoration: none;
      color: $color-text-vol;
    }
  }
}




//accordion from Erbol

.blc__volunteering-accordion {
  background-color: $color__yellow;
  &__inner {
    padding: 41px 0 46.5px;

    &__accord1 {
      &__title-txt {
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        margin: 0;
      }
      &__txt {
        padding-top: 18px;
        color: $color-text-vol;
      }
      &__link {
        padding-bottom: 18px;
        text-decoration: none;
        color: $color-text-vol;
      }
    }

    &__accord3 {
      background-color: $color__white;
      &__title-txt {
        margin: 0;
      }
      &__coll {
        display: flex;
        justify-content: center;
      }

      &__slider {
        padding: 15px 0 33px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__img {
          border-radius: 20px;
        }
      }
    }
  }
}
//according end


//callToAction
.call-to-action {
  position: relative;
  margin: 30px 0;

  &__paint-element {
    position: absolute;
    top: 180px;
    left: -10px;
    transform: rotate(-19.82deg);
  }
}






