@import "./vars";

.wantToHelp-blc {
  width: 1240px;
  height: 629px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__road {
    margin-left: 15px;
  }

  &__blc-bg1 {
    background: $color__light-blue;
    margin-top: 40px;
  }

  &__blc-bg2 {
    background: $color__blue;
    margin-top: 80px;
  }

  &__blc-bg3 {
    background: $color__yellow;
    margin-top: 80px;
  }

  &__btn-bg1 {
    background: $color__green;
  }

  &__btn-bg2 {
    background: $color__violet;
  }

  &__btn-bg3 {
    background: $color__dark-violet;
  }

  &__title {
    margin: 156px 0 0 105px;
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: $color__black;
  }

  &__text {
    margin: 46px 0 93px 105px;
    width: 450px;
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: $color__black;
  }

  &__btn {
    margin-left: 104px;
    border-radius: 5px;
    border: none;
    padding: 10px 48px;
    font-family: Raleway;
    font-style: normal;
    font-weight: $fw-extraBold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.14em;
    color: $color__white;
    text-decoration: none;
  }

  &__bg-img1 {
    width: 572.63px;
    margin: 35px 101px 0 0;
  }
  
  &__bg-img2 {
    width: 572.63px;
    margin: 35px 101px 0 0;
  }

  &__bg-img3 {
    width: 554.63px;
    margin: 111px 55px 0 0;
  }
}
